APP_NAME=Interloid Task Manager
APP_VERSION=0.1.0

DEBUG=True

HOST=0.0.0.0
PORT=8000

LOG_LEVEL=INFO


DB_HOST=localhost
DB_PORT=5433
DB_NAME=fastapi_db
DB_USER=postgres
DB_PASSWORD=password
DB_SSL=true

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=example-user
SMTP_PASSWORD=example-password
SMTP_FROM_EMAIL=no-reply@example.com
SMTP_USE_TLS=true

OTP_SECRET_KEY=test-otp-secret-key-at-least-32-characters

JWT_SECRET_KEY=this-is-a-fake-jwt-secret-key-for-local-development-only
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
